@model IEnumerable<UserManagement.Models.UserLog>

@{
    ViewData["Title"] = "User Logs";
}

<h1>Index</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Action
                </th>
                <th>
                    Logged at
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var formattedDate = item.CreatedAt.ToString("MMMM dd, yyyy, H:mm:ss");
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => formattedDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
