@using Westwind.AspNetCore.Markdown

@{
    ViewBag.Title = "Home";
}

@Markdown.ParseHtmlStringFromFile("../../README.md")

<p>
    <a asp-controller="User" asp-action="Index" class="btn btn-primary">To User List</a>
    <a asp-controller="User" asp-action="UserLogs" class="btn btn-primary">To Log List</a>
</p>

