@using Westwind.AspNetCore.Markdown

@{
    ViewBag.Title = "Home";
}

@Markdown.ParseHtmlStringFromFile("../../README.md")

<p>
<<<<<<< HEAD
    <a href="users/showall" class="btn btn-primary">To User List</a>
=======
    <a asp-controller="User" asp-action="Index" class="btn btn-primary">To User List</a>
>>>>>>> 99c4e140eacdddfa068611f6b571b0dcd3556b90
</p>

